* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100vh;
}

body {
	height: 100vh;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 16px;
    padding: 5%;
    background: #4b6cb7;
background: -webkit-linear-gradient(to left, #182848, #4b6cb7);
background: linear-gradient(to left, #182848, #4b6cb7);
    background-size: cover;
    color: #fafafa;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

ul li {
	list-style-type: none;
	margin-left: 2rem;
}

a {
	text-decoration: none;
	color: inherit;
}


h1, h2, h3, h4, h5, h6, #div1 {
    font-family: 'Cinzel Decorative', cursive;
    padding-top: 1rem;
	padding-bottom: 0.5rem;
}

p {
    font-family: 'Raleway', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button {
    color: #4080CC;
    background-color: #ff776a;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

#logo {
	width: 150px;
	max-width: 100%;
	align-self: center;
}

@media (min-width: 700px) {
	body {
		font-size: 20px;
	}
}